.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main-input {
  background-color: #282c34;
  z-index: 100;
  height: 150px;
  position: absolute;
  padding-bottom: 30px;
  padding-top: 5px;
  bottom: 0;
  border-top: solid 3px white;
  font-size: 16px;
}
.activityfeed {
  overflow-y: scroll;
  height: 75%;
  position: absolute;
  top: 20px;
}
.main-input p {
  margin-top: 4px;
}

.main-input label {
  font-size: 12px;
  opacity: 0.75;
}

.hide {
  display: none;
}

.god-name-field {
  margin-left: 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
